<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @domain.hostname %>
</p>

<p>
  <strong>Origin ip address:</strong>
  <%= @domain.origin_ip_address %>
</p>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
